<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corpus analyzer (under construction)</title>
</head>
<body>
    <h1>Corpus analyzer (under construction)</h1>

<hr>
<!---------------Text file upload------------------->
    <h2>Analyze transcript files (*.txt):</h2>
    <p>*Assumes the texts follow the output format of the 
        <a href="https://archive.mpi.nl/tla/elan" target="_blank">ELAN transcription tool.</a>
        See a sample <a href="{{ url_for('static', filename='sample_transcript_1.txt') }}" target="_blank">here.</a></p>
    <form action="/process_transcript_upload" method="post" enctype="multipart/form-data">

        <input type="file" id="file" name="files" accept=".txt" multiple>
        <br>
        <input type="submit" value="Submit">
    </form>
   
    <hr>
<!---------------Database display------------------->
    <h2>Transcripts stored in local database:</h2>

    <h3 style="display: inline;">Search:</h3>
    <form action="{{ url_for('search_all_route') }}" method="get" style="display: inline;">
        <input type="text" id="search_query" name="search_query" placeholder="Enter a word or phrase" style="display: inline;">
        <input type="submit" value="Search" style="display: inline;">
    </form>
    

    <ul>
        {% for transcript in transcripts %}
        <li>
            <a href="{{ url_for('transcript_display_route', transcript_id=transcript.id) }}">{{ transcript.filename }}</a>
        
            <!-- Delete form -->
            <form action="{{ url_for('delete_transcript_route', transcript_id=transcript.id) }}" method="post" style="display: inline;">
                <input type="submit" value="Remove" onclick="return confirm('Are you sure you want to remove this transcript?');">
            </form>
        </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('delete_all_transcripts_route') }}" method="post" onsubmit="return confirm('Are you sure you want to remove all transcripts? This action cannot be undone.');">
        <input type="submit" value="Clear database">
    </form>
</body>
</html>