<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nlp playground</title>
</head>
<body>
    <h1>xinhui's natural language processing playground</h1>

    <h2>Stem and lemmmatize text input:</h2>
    <form action="/preprocess_text" method="post">
        <label for="text">Enter Text:</label>
        <textarea name="text" id="text" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
    {% if original_text %}
        <h2>Original Text:</h2>
        <p>{{ original_text }}</p>
        <h2>Stemmed Text:</h2>
        <p>{{ stemmed_text }}</p>
        <h2>Lemmatized Text:</h2>
        <p>{{ lemmatized_text }}</p>
    {% endif %}

    <h2>Download all text files from a webpage to a local folder:</h2>
    <p> Example: <a href="http://www.textfiles.com/politics/CIA/" target="_blank">http://www.textfiles.com/politics/CIA/</a></p>
    <form action="/download_text_files" method="post">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Download Text Files</button>
    </form>
    
    {% if success_message %}
    <p>{{ success_message }}</p>
    {% endif %}

    <h2>Build a corpus from a local folder:</h2>
    <form action="/build_corpus" method="post">
        <label for="text">Enter folder name (Example: downloaded_text_files):</label>
        <input type="text" id="text" name="folder_path" required>
        <button type="submit">Build corpus</button>
    </form>
    {% if build_corpus_msg %}
    <p>{{ build_corpus_msg }}</p>
    {% endif %}

</body>
</html>