<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corpus analyzer (under construction)</title>
</head>
<body>
    <h1>Corpus analyzer (under construction)</h1>


<!---------------Text file upload------------------->
    <h2>Analyze transcript file (*.txt):</h2>
    <form action="/process_transcript_upload" method="post" enctype="multipart/form-data">

        <input type="file" id="file" name="file" accept=".txt">
        <br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>